.card {
    background: #f4f6ff;
    border-radius: 2px;
    height: 350px;
    margin: 10px;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center;
    text-decoration: none;
    color: #FBD46D;
}
  
.card > .img-container {
    height: 145px;
    text-align: center;
    background:#6CADDC;
}
.card > .img-container > img {
    width: 100%;
    height: 100%;
}

.card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
}

.card > .title-container {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.card > .about-container {
    padding-top: 1rem;
}