.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F8A8B;
}
  
.footer-img {
    width: 70%;
}