:root {
  --primary: #f4f6ff;
  --secondary: #FBD46D;
  --tertiary: #4F8A8B;
  --dark: #07031A;
  background-color:#f4f6ff;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

main {
	margin: 0 auto;
  max-width: 100%;
  height: 100%;
  padding: 50px;
  padding-bottom: 15.5rem;
  background-color:#f4f6ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #07031A;
  padding: 25px 0 15px 15px;
  color: #F8D46D;
}

li {
  list-style: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.resume-title {
  border-bottom: 1px solid;
}

.resume-link {
  padding: 20px;
  margin: 20px;
  font-size:25px;
}

.resume-link a {
  color: var(--tertiary);
}

.resume-link a:hover {
  color: var(--secondary);
  font-size:35px;
  background-color: var(--primary);
  border-radius: 10%;
  padding: 10px;
}

.resume-main {
  padding: 20px;
  margin: 20px;
}



@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
}